#first {
    position: relative;
    top: 50px;
    left: 100px;
}

#second {
    position: absolute;
    right: 10px;
    top: 15px;
}

#third {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

#link {
    position: fixed;
    right: 10px;
    bottom: 10px;
    
}
