.druga-lista {
    background-color: aqua;
}

.li-background {
    background-color: coral;
} 

.treca-lista {
    background-color: blueviolet;
}

.active {
    background-color: aquamarine;
    text-transform: uppercase;
}

.borderColor {
    border: 5px solid red;
}